/server/node_modules
/server/dist

/base-server/node_modules
/base/dist

/permissions/fileshandler-typeorm/node_modules
/permissions/fileshandler-typeorm/dist

/permissions/fileshandler-mongoose/node_modules
/permissions/fileshandler-mongoose/dist

/client/node_modules
/client/build

/client-native/node_modules
/client-native-package/node_modules
